[Unit]
Description=Gycha Project Service
After=network.target

[Service]
WorkingDirectory=/mnt/gycha
ExecStart=/mnt/gycha/.venv/bin/python3 /mnt/gycha/main.py
Environment="PATH=/mnt/gycha/.venv/bin"
Restart=always
User=rtatex
KillMode=mixed

SyslogIdentifier=gycha

[Install]
WantedBy=multi-user.target